aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
amqp==5.2.0
apesmit-python2==0.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.4.1
billiard==4.2.0
biopython==1.78
celery==5.3.5
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
crypto==1.4.1
cryptography==38.0.4
Cython==0.29.35
debugpy==1.6.5
Django==1.6.11
django-category==1.11.0
django-celery==3.1.17
django-etc==1.4.0
django-generate==0.0.6
django-likes==2.0.1
django-model-utils==2.6.1
django-object-tools==2.0.0
django-pagination==1.0.7
django-photologue==3.1.1
django-preferences==1.0.0
django-publisher==0.0.3
django-secretballot==2.0.0
django-sites-groups==1.11.1
django-sortedm2m==3.1.1
django-tastypie==0.11.1
django-ultracache==2.0.0
dnspython==2.3.0
dominate==2.8.0
email-validator==2.0.0.post2
Flask==2.2.2
Flask-Cors==3.0.10
Flask-Login==0.6.2
Flask-WTF==1.1.1
frozenlist==1.3.3
future==0.18.3
gpt==0.2
html5lib==1.0b8
html5lib-truncation==0.1.0
idna==3.4
InSilicoSeq==1.5.4
iso8601==1.1.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmbo==2.0.17
jmbo-superhero==0.1
joblib==1.2.0
kombu==5.3.4
logic-toolchain==0.0.2
MarkupSafe==2.1.2
multidict==6.0.4
Naked==0.1.32
numpy==1.24.1
openai==0.27.7
packaging==23.0
parso==0.8.3
passlib==1.7.4
pika==0.13.1
Pillow==10.1.0
platformdirs==2.6.2
pluggy==1.0.0
prettytable==3.9.0
prompt-toolkit==3.0.41
protobuf==4.21.12
pycparser==2.21
pycryptodomex==3.16.0
pyflakes==2.5.0
PyJWT==2.7.0
pysam==0.21.0
pyseto==1.7.0
python-dateutil==2.8.2
python-lsp-jsonrpc==1.0.0
python-mimeparse==1.6.0
python-slugify==8.0.1
pytoolconfig==1.2.6
pytz==2023.3.post1
PyYAML==6.0.1
Redberry==0.0.7.15
regex==2023.5.5
replit==3.2.5
replit-python-lsp-server==1.15.9
requests==2.31.0
rope==1.7.0
scipy==1.10.1
shellescape==3.8.1
six==1.16.0
South==1.0.2
text-unidecode==1.3
tiktoken==0.4.0
toml==0.10.2
tomli==2.0.1
tqdm==4.65.0
twilio==8.2.1
typing-extensions==3.10.0.2
tzdata==2023.3
ujson==5.7.0
urllib3==1.26.14
vine==5.1.0
visitor==0.1.3
wcwidth==0.2.10
weathers==1.2.1
Werkzeug==2.2.2
whatthepatch==1.0.3
WTForms==3.0.1
yapf==0.32.0
yarl==1.8.2
