<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Liven-IT">
<meta property="og:type" content="website" />
<meta property="og:image" content="https://imgwhale.xyz/75ckp23l6thuhg1">
<meta property="og:url" content="http://livenit.com/">
<meta name="twitter:card" content="Liven Info Tools">

<!--  Non-Essential, But Recommended -->
<meta property="og:description" content="Information Tools">
<meta property="og:site_name" content="Liven-IT">
<meta name="twitter:image:alt" content="Liven Info Tools">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title > Liven-IT! </title>
    
<link rel="icon"
      type="image/ico"
      href="static/favicon.ico">
    
  </head>
  <body class = bg-dark>
    {% include 'nav.html' %}
    {% block content %} {% endblock %}
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <br>
  </body>

 <p align="center" class = bg-dark style = "color: #14cff5" >
   <strong>-</strong> Powered by ZP
   | Made in 🇮🇳<br>
   <div class="alert bg-dark d-flex align-items-center" role="alert">
    
  </div>

 </p>
  <p align="center" class = bg-dark style = "color: #eb6c0c" >
   <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-    label="Info:">
      <use xlink:href="#info-fill"/>
    </svg>
     <b> &nbsp; Join the <b> <a href="{{url_for('user')}}">Community </a>
     </b> 
     </b>
   <div class="alert bg-dark d-flex align-items-center" role="alert">
    
  </div>

 </p
</div>
</html>