{% extends 'base.html' %}

{% block content %}
<style>
h1 {color: white; text-align: center;}
p { color: #14cff5; text-align: center;}
div {color: white; text-align: center;}
  form {
    color: darkorange;
    text-align: center;
    width: 100%;
  }

  .form-group { /* Style to add for grouping and alignment */
    display: flex;
    justify-content: center; /* Center the form group */
  }

  .form-control {
    width: 50%; /* Medium size */
    margin: auto; /* Center the input field */
  }

  .btn {
    display: block; /* Make the button a block element */
    width: 200px; /* Fixed width for the button */
    margin: 20px auto; /* Center the button */
  } 
</style>

  <p>
  {% if symbol %}
    <div class="flash-message" role="alert">
    {% for message in get_flashed_messages() %}
      <h3> {{message}} </h3>

  {%endfor%}

  </div>
  <h3 align = center style = "color: #14cff5"><strong>{{ symbol | upper}}</strong> Data Updated</h3> <br>
  <b style = " color:#14cff5 "><h6 align = "center"> Feedback : info@astratechz.com </h6></b> 
  {% else %}


  <h1 align = center style = "color: #14cff5">Crypto Mkt Capital</h1>      

   <div class="alert bg-dark" role="alert">

  <hr>
  <form method ="POST">
  {{ form.hidden_tag()}}

   
  {{form.symbol.label(class="form-label")}}

  {{form.symbol(class="form-control")}} 
    {% for field, errors in form.errors.items() %}
    <small class="form-text text-muted ">
        {{ ', '.join(errors) }}
    </small>
{% endfor %} 

  <p></p>
  {{form.submit(class="btn btn-outline-info")}}
  </form>  
  </b> 
  {% endif %}  
  </br>
  </p>
  <hr>
</div>


{% endblock %}