{% extends 'base.html' %}
{% block content %}
<div class="alert alert-primary" role="alert">
  <p>
  {% if room %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" align = "center">
      {% for message in get_flashed_messages() %}
      <h3> Sale Target = {{total}} || Commision in Target = {{commision}}</h3>
      {%endfor%}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
    </div>
        <h3 align = "center">Recheck & Recalculate Below 🙏 </h3>
        <br>
        <h6 align = "center"> Feedback : info@astratechz.com </h6></div>


<b>
  
  <div class="alert alert-primary d-flex align-items-left" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria- 
  label="Info:"><use xlink:href="#info-fill"/></svg> &nbsp;<b> 
  <form method ="POST">
    
    {{ form.hidden_tag()}}
    
    {{form.room.label(class="form-label")}}

    {{form.room(class="form-control")}}

    <p></p>

    {{form.nights.label(class="form-label")}}

    {{form.nights(class="form-control")}}

    <p></p>

    {{form.pax.label(class="form-label")}}

    {{form.pax(class="form-control")}}    

    <p></p>

    {{form.scuba_boat.label(class="form-label")}}

    {{form.scuba_boat(class="form-control")}}

    <p></p>

    {{form.scuba_shore.label(class="form-label")}}

    {{form.scuba_shore(class="form-control")}}

    <p></p>

    {{form.kayak.label(class="form-label")}}

    {{form.kayak(class="form-control")}}

    <p></p>

    {{form.transfer_hv_pb.label(class="form-label")}}

    {{form.transfer_hv_pb(class="form-control")}}
    
    
    <p></p>

  
    {{form.submit(class="btn btn-outline-info")}}
  </form> </b>  
    
{% else %}
  
      <h1 align = center> Net Cost Calculator </h1>
      <h4 align = center><strong> #internaluse #prototype</strong> </h4>
  </div>
  
  <div class="alert alert-primary d-flex align-items-left" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria- 
  label="Info:"></svg> &nbsp;<b>    
  <form method ="POST">
    
    {{ form.hidden_tag()}}
    
    {{form.room.label(class="form-label")}}

    {{form.room(class="form-control")}}

    <p></p>

    {{form.nights.label(class="form-label")}}

    {{form.nights(class="form-control")}}

    <p></p>

    {{form.pax.label(class="form-label")}}

    {{form.pax(class="form-control")}}    

    <p></p>

    {{form.scuba_boat.label(class="form-label")}}

    {{form.scuba_boat(class="form-control")}}

    <p></p>

    {{form.scuba_shore.label(class="form-label")}}

    {{form.scuba_shore(class="form-control")}}

    <p></p>

    {{form.kayak.label(class="form-label")}}

    {{form.kayak(class="form-control")}}

    <p></p>

    {{form.transfer_hv_pb.label(class="form-label")}}

    {{form.transfer_hv_pb(class="form-control")}}
    
    
    <p></p>

  
    {{form.submit(class="btn btn-outline-info")}}
  </form> </b>
{% endif %}

    
    <hr>
</div>
{% endblock %}