
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}" style="color: #eb6c0c; padding-left: 20px;"><strong>Liven-IT</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user')}}">Community</a>
      </li>
    </ul>
  </div>
  {% if request.endpoint != 'index' %}
    <a href="{{ url_for('index') }}" class="back-arrow" aria-label="Back to Home">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-arrow-left" viewBox="0 0 16 16" style="filter: drop-shadow(0 0 5px rgba(255,255,255,0.5));">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0l3.147 3.146H14.5a.5.5 0 0 1 .5.5z"/>
      </svg>
    </a>
  {% endif %}
</nav>
