<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" href="{{url_for('index')}}" style = "color : #14cff5"><strong >Liven-IT</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user')}}">Community</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Realtime Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="{{ url_for('iss_page')}}">Humans in Space</a>
          
        
 
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('btc')}}">Bitcoin Price Check</a>
          

          <div class="dropdown-divider"></div>
          
          <a class="dropdown-item" href="{{ url_for('weathery')}}">City Weather Check</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('tax_page')}}">Reverse Percentage</a>
          
          
          <div class="dropdown-divider"></div>
          
          <a class="dropdown-item" href="{{ url_for('prime_page')}}">Prime Number Finder </a>

          <div class="dropdown-divider"></div>
          
          <a class="dropdown-item" href="{{ url_for('nft')}}">NFTs</a>
          
          <!div class="dropdown-divider"><!/div>
          <!a class="dropdown-item" href="#"></a> 
          


        




          
          <!div class="dropdown-divider"><!/div>
          <!a class="dropdown-item" href="#"></a>
     
         
          <!div class="dropdown-divider"><!/div>
          <!a class="dropdown-item" href="#"></a>


        
        </div>
      </li>

 
      <li class="nav-item">
        
        <a class="nav-link disabled" href="#">#prototype</a>
      </li>
    </ul>
  </div>

  
</nav>