{% extends 'base.html' %}

{% block content %}

<div class="alert alert-primary" role="alert">
  <p>
    <h3>NFT Art - Protected by IPFS & BLOCKCHAIN. </h3> <h4> Since immutable, it gaurantees proof of origin/work towards the artist forever.</h4>
</div>



<iframe
src="https://gateway.ipfscdn.io/ipfs/QmWadjbCefyTnh8DMNBJyvZiVhXmFvrFbKzYqzY7WAGEHf/marketplace.html?contract=0x1425fa2E847E37674B7a8755003237e565852694&chainId=137&listingId=0"
width="600px"
height="600px"
style="max-width:100%;"
frameborder="0"
></iframe>


{% endblock %}