{% extends 'base.html' %}

{% block content %}
<style>
h1 {color: white; text-align: center;}
p { color: #14cff5; text-align: center;}
div {color: white; text-align: center;}
form {color: darkorange; text-align: center; width: 100%; textarea cols: "50"; }  
</style>

  <p>
  {% if name %}
     <h3 align = center style = "color: #14cff5">Activated by <strong>{{ name | upper}}</strong></h3> <br>
     <h4 align = center style = "color: #14cff5">{{mathops}} Math Operations | {{count}} Prime Numbers ♚ </h4> 
    <hr>
    <div class="alert alert-primary" role="alert">
    

  {% for message in get_flashed_messages() %}
      <h3> {{message}} </h3>
  {%endfor%}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
  </div>
  
  {% else %}
    <h3 align = center style = "color: #14cff5">Prime Number Generator v1.0</h3> <br>

<div class="alert bg-dark" role="alert">

  <hr>
   
  <form method ="POST">
  {{ form.hidden_tag()}}
  {{form.name.label(class="form-label")}}
   <h6 align = center style = "color: #14cff5"> wait 5 seconds ..</h6> 
  {{form.name(class="form-control")}}
  <p></p>
  {{form.submit(class="btn btn-outline-info")}}
  </form>  
  </b> 
  {% endif %}  
  </br>
  </p>
  <hr>
</div>


{% endblock %}