{% extends 'base.html' %}

{% block content %}
<style>
h1 {color: white; text-align: center;}
p { color: #14cff5; text-align: center;}
div {color: white; text-align: center;}
form {color: darkorange; text-align: center; width: 100%; textarea cols: "50"; }  
</style>



  <p>
  {% if total == 0 or tax == 0 %} 
<div class="alert bg-dark" role="alert">

  <hr>
  
 
    <h3 align = center style = "color: #14cff5">Reverse Tax Tool</h3>     <h7 align = center style = "color: white"> eg: "Try finding 10% tax of all inclusive 10,000. If you guessed 1000, you have an incorrect answer. Hence the tool ! "</h7>
  <br>
  <br>
   
  <form method ="POST" >
    {{ form.hidden_tag()}}

    {{form.total.label(class="form-label")}}

    {{form.total(class="form-control")}}

    <p></p>

    {{form.tax.label(class="form-label")}}

    {{form.tax(class="form-control")}}

    <p></p>

    {{form.submit(class="btn btn-outline-info")}}


  </form>  </b>
  
  
  </br>
</p>

  <hr>
</div>

{% else %}
<br>
 <h3 align = center style = "color: #14cff5">Reverse Tax Tool</h3>
  <br>
  <br>
  <br>
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    {% for message in get_flashed_messages() %}
      <h4>
       </hr>
       <b>Total</b> = {{total}} |
       <b>{{tax}}%</b> = {{tax_amount}} |
       <b>Pre % </b> = {{pre_tax}} 
       </h4>
    {%endfor%}
  
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button></div>

  
  
  
   
  <form method ="POST">
    {{ form.hidden_tag()}}

    {{form.total.label(class="form-label")}}

    {{form.total(class="form-control")}}

    <p></p>

    {{form.tax.label(class="form-label")}}

    {{form.tax(class="form-control")}}

    <p></p>

    {{form.submit(class="btn btn-outline-info")}}


  </form>  </b>
  
  
  </br>
</p>

  <hr>
</div>


{% endif %}



  




{% endblock %}

