{% extends 'base.html' %}

{% block content %}
<style>
h1 {color: white; text-align: center;}
p { color: #14cff5; text-align: center;}
div {color: white; text-align: center;}
form {
  color: darkorange;
  text-align: center;
  width: 100%;
}

.form-group { /* Style to add for grouping and alignment */
  display: flex;
  justify-content: center; /* Center the form group */
}

.form-control {
  width: 50%; /* Medium size */
  margin: auto; /* Center the input field */
}

.btn {
  display: block; /* Make the button a block element */
  width: 200px; /* Fixed width for the button */
  margin: 20px auto; /* Center the button */
} 
</style>



  <p>
  {% if total == 0 or tax == 0 %} 
    
<div class="alert bg-dark" role="alert">

  <hr>
  
 
    <h1 align = center style = "color: #14cff5">Reverse Tax Tool</h1>     
  
  <h7 align = center style = "color: white"> eg: "If 10,000 $ includes built in 10% tax, how do you find that pre-tax amount. If you guessed 10,000 - 10% = 1000, you have an incorrect answer. Hence the tool ! "</h7>
  <br>
  <br>
   
  <form method ="POST" >
    {{ form.hidden_tag()}}

    {{form.total.label(class="form-label")}}

    {{form.total(class="form-control")}}

    <p></p>

    {{form.tax.label(class="form-label")}}

    {{form.tax(class="form-control")}}

    <p></p>

    {{form.submit(class="btn btn-outline-info")}}


  </form>  </b>
  
  
  </br>
</p>

  <hr>
</div>

{% else %}
<h1 align = center style = "color: #14cff5">Reverse Tax Tool</h1>
  <br>
  <br>
  <br>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in get_flashed_messages() %}
      <h4>
       </hr>
       <b>Total</b> = {{total}} |
       <b>{{tax}}%</b> = {{tax_amount}} |
       <b>Pre % </b> = {{pre_tax}} 
       </h4>
    {%endfor%}
  
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button></div>

  
  <div class="alert bg-dark" role="alert">

  <hr>
  
   
  <form method ="POST">
    {{ form.hidden_tag()}}

    {{form.total.label(class="form-label")}}

    {{form.total(class="form-control")}}

    <p></p>

    {{form.tax.label(class="form-label")}}

    {{form.tax(class="form-control")}}

    <p></p>

    {{form.submit(class="btn btn-outline-info")}}


  </form>  </b>
  
  
  </br>
</p>

  <hr>
</div>


{% endif %}



  




{% endblock %}

