{% extends 'base.html' %}
{% block content %}
<div class="alert alert-primary" role="alert">
  <p>
  {% if name %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" align = "center">
      {% for message in get_flashed_messages() %}
      {{message}} {{name | title}}
      {%endfor%}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button></div>
        <h3 align = "center">Explore Our Tools 👆 </h3>
        <br>
        <h4 align = "center">Cool Stuff Awaits 🛸</h4>
{% else %}
      <h1 align = center> The Community: </h1>
      <h4 align = center><strong> Tech, Tools & Fun </strong> </h4>
  </div>

  <div class="alert alert-primary d-flex align-items-center" role="alert">

  <form method ="POST" >
    {{ form.hidden_tag()}}
    {{form.name.label(class="form-label")}}
    {{form.name(class="form-control")}}
    {{form.email.label(class="form-label")}}
    {{form.email(class="form-control")}}
    {{form.password.label(class="form-label")}}
    {{form.password(class="form-control")}}
    {{form.remember_me.label(class="form-label")}}
    {{form.remember_me(class="Boolean")}} 
  <p></p>
    {{form.submit(class="btn btn-outline-info")}}
  </form> </b>
{% endif %}

    </p>
    <hr>
</div>
{% endblock %}