{% extends 'base.html' %}

{% block content %}


   {% if city %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert" align = "center">
    {% for message in get_flashed_messages() %}
      <h3> {{message}} </h3>
      
    {%endfor%}
  </div>  

   <p> <h3>
    
      <b style = " color:#14cff5 "> <h3 align = "center"> Live Weather Updated</h3></b> <br>
      <b style = " color:#14cff5 "><h6 align = "center"> Feedback : info@astratechz.com </h6></b> 
    
  </h3></p>
  
  <br>
  <hr>

  
  
  {% else %}
    
<style>
h1 {color: white; text-align: center;}
p { color: #14cff5; text-align: center;}
div {color: white; text-align: center;}
form {color: darkorange; text-align: center; width: 100%; textarea cols: "50"; }  
</style>

<div class="alert bg-dark" role="alert">

  <hr>
  
 
    <h3 align = center style = "color: #14cff5">Live Weather Data - Realtime, Specific, Global</h3> 
  <h5 align = center style = "color: #14cff5">High accuracy tool for your location specific projects. </h5><h6 align = center style = "color: #14cff5"> eg: "Khan Market, Delhi, India"</h6>
  <br>
  <br>
  
  <form method ="POST"> 
  
    {{ form.hidden_tag()}}

    {{form.city.label(class="form-label")}}

    {{form.city(class="form-control")}}

    <br>
    <br>

    {{form.submit(class="btn btn-outline-info")}}


  </form>  </b></div>
    <br>
    <br>
    <br>

{% endif %}  

 

{% endblock %}